<div class="x_content">
  <br />
  <div style="width: 48%; float: left">
  <div class="form-group">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Nombre de la Institucion" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Fecha de Inicio" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Correo" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Fecha de Inicio" %>
    <%= f.text_field :description, class: "form-control", placeholder: "Descriptcion" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Fecha de Inicio" %>
    <%= f.text_field :phone, class: "form-control", placeholder: "Telefono" %>
  </div>

</div>
<br>
</div>
