<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Vista de Empleado</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2 style="padding-top: 40px">
              <span style="font-size:30px; padding-top:30px"><%= @employee.name %>, #<%=@employee.work_id %></span><br>
              <span><%= @employee.profession%> • <%= @employee.position %> • <%= @employee.base_belong%></span>
            </h2>
            <div style="float: right; padding-right: 20px">
              <img src="http://pngimg.com/upload/face_PNG5660.png" height="150">
            </div>
            <div class="clearfix"></div>
          </div>
          <div style="float: left; width: 600px; font-size: 20px; padding-left: 150px">
            <p>
              Nacimiento: <%= @employee.birth_at %>, <%= @employee.birth_place %>
            </p>
            <p>
              Numero de Identidad: <%= @employee.number_id %>
            </p>
            <p>
              Fecha de Contratacion: <%= @employee.date_admission %>
            </p>
            <p>
              Salario: Lps.<%= @employee.salary %>
            </p>
          </div>
          <div style="float: right; width: 600px; font-size: 20px">
            <p>
              Direccion: <%= @employee.address %>
            </p>
            <p>
              Tipo de sangre: <%= @employee.blood_type %>
            </p>
            <p>
              Contacto de emergencia: <%= @employee.emergency_contact_name %>, Tel. <%= @employee.emergency_contact_number %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
